<a href="https://colab.research.google.com/github/atharvaghayal/Advanced-Python-and-Aptitudes/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print 1 to 10 with While loop
i=1
while i<=10:
 print(i)
 i=i+1
print(" ")

In [ ]:
#Print 10 to 1 with While loop
i=10
while i>=1:
 print(i)
 i=i-1
print(" ")

In [ ]:
#Sum 1 to 10 with While loop
i=1
sum=0
while i<=10:
  sum=sum+1
  i=i+1
print("Sum = ",sum)
print(" ")

In [ ]:
#Sum 1 to 10 with For loop
sum=0
for i in range(1,11):
  sum=sum+1
print("Sum =",sum)
print(" ")

In [ ]:
#for i in range(10,0,-2)

In [ ]:
#Print length using for loop
arr=[123123,12,3212,12,2]
s="Atharva"
for i in range(len(arr)):
  print(arr[i])
print(" ")
for i in range(len(s)):
  print(s[i])
print(" ")

In [ ]:
#Print length using for loop and without using any functions
for x in arr:
  print(x)
print(" ")
for x in s:
  print(x)
print(" ")

no=int(input("Enter a number: "))
if no%2==0:
 print(no, " is an even number")
if no%2!=0:
  print(no, " Is an Odd number")

In [ ]:
#Accept 5 numbers and find the max
n1=int(input("Please enter the first number: "))
n2=int(input("Please enter the Second number: "))
n3=int(input("Please enter the third number: "))
n4=int(input("Please enter the forth number: "))
n5=int(input("Please enter the fifth number: "))
max=n1
if max<n2:
  max=n2
if max<n3:
  max=n3
if max<n4:
  max=n4
if max<n5:
  max=n5
print("Maximum number is ",max)

In [ ]:
#Accept 3 paper marks and if any one of the paper marks is less that 45 show"fail" or show"Pass"
a=int(input("Enter the first paper marks:"))
b=int(input("Enter the second paper marks:"))
c=int(input("Enter the third paper marks:"))
if a<45 or b<45 or c<45:
  print("Fail")
else:
  print("Pass")

In [ ]:
#Accept 3 paper marks and and find marks and percentage.
a=int(input("Enter the first paper marks:"))
b=int(input("Enter the second paper marks:"))
c=int(input("Enter the third paper marks:"))
marks=a+b+c
percentage=marks/3
print("Marks = ",marks)
print("Percentage = ",percentage)

In [ ]:
n1=int(input("What is the marks of your first subject marks (Out of 100): "))
n2=int(input("What is the marks of your Second subject marks (Out of 100): "))
n3=int(input("What is the marks of your Third subject marks (Out of 100): "))
if n1<45 or n2<45 or n3<45:
  print("Fail")
else:
  print("Pass")
total=n1+n2+n3
print("Your total marks out of 300: ", total)
per=total/3
print("Your Percentage is: ", per)

In [ ]:
#Accept day and tell whether it is weekend or weekday
day=str(input("Please enter today's day (all small): "))
if day=="sat" or day=="sat":
  print("Today is weekend")
else:
  print("Today is weekday")

In [ ]:
#Accept a character and tell if its a vowel or consonent
char=str(input("Please enter a single character: "))
if char == "a" or char == "e" or char == "i" or char == "o" or char == "u":
  print("The character",char,"is a Vowel")
else:
  print("The character",char,"is a Consonents")

In [ ]:
#Accept a character and check character is upper case or lower case or is it a digit ya spacial symbol
ch= input("character")
ch=ord(ch)
if ch>=65 and ch<=90:
  print("The Character is upper case")
elif ch>=97 and ch<=122:
 print("The Character is lower case")
elif ch>=48 and ch<=57:
  print("The Character is a digit")
else:
  print("The Character is a Special Character")

In [ ]:
#Chack whether the year is a leap year or not
year= int(input("Please enter a year: "))
if year%100==0 and year%4==0:
  print("This is a Centurian leap year")
if year%100!=0 and year%4==0:
  print("This is a Non-Centurian leap year")
else:
  print("It is not a leap year")

In [ ]:
#WAP to accept cost price from user and as whether the user is s student or not
a=int(input("Enter the cost price of the product: "))
b=input("Are you a student (yes/no): ")
  #If user is a student and cost greater than 500 - discount 10% else 5%
#If user is a not student and cost greater than 500 - discount 8% else 2%
if a>500:
  d1=a-(a*10//100)
  print("Your net cost now is adjusted to: ",d1)
else:
  d2=a-(a*5/100)
  print("Your net cost now is adjusted to: ",d2)

In [ ]:
#Count the no.of digits
#find factorial
num=int(input("Enter a number: "))
count=0
while num>0:
  rem=num%10
  num=num//10
  count=count+1
print("The no.of digits are: ",count)

In [ ]:
#Sum of digits
num=int(input("Enter a number: "))
sum=0
while num>0:
  rem=num%10
  sum=sum+rem
  num=num//10
print("The sum of digits are: ",sum)

In [ ]:
#FInd factorial
num=int(input("Enter a number: "))
fact=1
while num>0:
  fact=fact*num
  num=num-1
print("Factorial of the number is: ",fact)

In [ ]:
#Find a number is an Armstrong number is or not
num=int(input("Enter a number: "))
sum=0
nsave1=num
nsave2=num
count=0
while num>0:
  num=num//10
  count=count+1
while nsave1>0:
  rem=nsave1%10
  rem=rem**count
  sum=sum+rem
  nsave1=nsave1//10
if nsave2==sum:
  print("This number is an Armstring number")
else:
  print("This number is not an Armstring number")

In [ ]:
#Find a number is an Armstrong number is or not
num=int(input("Enter a number: "))
sum=0
nsave=num
while num>0:
  rem=num%10
  rem=rem**3
  sum=sum+rem
  num=num//10
if nsave==sum:
  print("This number is an Armstring number")
else:
  print("This number is not an Armstring number")

In [ ]:
#Print all Armstring numbers between 1 to 10,000

for num in range(1,10001):
  num=0
  num=num+1
  sum=0
  nsave1=num
  nsave2=num
  count=0
  while num>0:
    rem=num%10
    nsave1=num//10
    count=count+1
  while nsave1>0:
    rem=nsave1%10
    rem=rem**count
    sum=sum+rem
    nsave1=nsave1//10
if nsave2==sum:
  print("This number is an Armstring number")
else:
  print("This number is not an Armstring number")

In [ ]:
#Check whether a given number is Palindrome
#Print Palindrome numbers between 1 to 10,000
#Find Factorial of any number
num=int(input("Enter any number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print("Factorial of",num,"is",fact)
#Print sum of all numbers between 1 tp 20
sum=0
for i in range (1,21):
  if i%2==0:
    sum=sum+i
print(sum)

In [ ]:
#Print Fibonacci series
n=int(input("Enter nth number: "))
f0=0
f1=1
print(f0,"\t",f1,end=""-+)
for i in range (3, n+1):
  f2=f0+f1
  print("\t",f2,end="")
  f0=f1
  f1=f2

In [ ]:
#Find the sum of this series
#sum=1 + x^1/1 + x^2/2 + x^3/3 ............ x^n/n
x=int(input("Enter the value of x: "))
n=int(input("Enter the value of n: "))
sum = 1
print(sum, end="")
for i in range(1, n+1):
  sum=sum+(x**i/i)
  print("+ x^",i,"/",i, end="")
print("\t = ", sum)

In [ ]:
#Find the sum of this series
#sum=1 + x^1/1! + x^2/2! + x^3/3! ............ x^n/n!

x=int(input("Enter the value of x: "))
n=int(input("Enter the value of n: "))
sum = 1
print(sum, end="")
for i in range(1, n+1):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  sum=sum+(x**i/fact)
  print("+ x^",i,"/",i,"!", end="")
print("Sum = ", sum)

In [ ]:
#Multiply without using *
x=int(input("Enter the value of x: "))
n=int(input("Enter the value of n: "))
sum = 0
for i in range(1, n+1):
  sum=sum+x
print("Product = ", sum)

In [ ]:
#Exponent
x=int(input("Enter the value of x: "))
n=int(input("Enter the value of n: "))
sum = 1
for i in range(1, n+1):
  sum=sum*x
print("Product = ", sum)

In [ ]:
# Break
for i in range(1,11):
  if i==5:
    break
  print(i)

# continue
for i in range(1,11):
  if i==5:
    continue
  print(i)

In [ ]:
#A number is called a tech number if the given number has an even number of digits and the number can be divided exactly into to parts from the middle. and after equally dividing the number, sum up the numbers and find the suare of the sum. If we get the numbers itself as a square,n then it is a tech number.
#2025 is a tech number
#2025 = 20  25
#20+45
#45*45=2025